@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://discordstyles.github.io/SoftX/SoftX.css');
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://s-k-y-l-i.github.io/discord-themes/Theme%20code/transparent-popups.css');
@import url('https://raw.githubusercontent.com/Vortex-Chaos/Discord-Connections-Glow/main/Code.css');

:root {
  --background-image: url('https://cdn.discordapp.com/attachments/1124656608941715540/1226674873825361970/product.gif?ex=6625a100&is=66132c00&hm=eb76759e8f51645601a528a6dfc431c313519124d5ec772b9f9b40ad6b2042c7&'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-blur: 2px; /* Blur intensity of --background-image */
  --opacity: 0.70; /* Opacity of overall app. | Default: .85 */
  --accent: 175,143,231; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 1.25; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: Inter; /* Custom font | Default: 'Inter' */
  --channels-width: 260px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 70px; /* Width of the server list. | Default: 105px */
  --members-width: 250px; /* Width of the members list. | Default: 280px */
  --server-size: 40px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 50px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 0px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 0px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #abffb3; /* Colour for online status */
  --rs-idle-color: #F9AC2D; /* Colour for idle status */
  --rs-dnd-color: #ff3859; /* Colour for dnd status */
  --rs-offline-color: #4e4457; /* Colour for offline status */
  --rs-phone-color: #abffb3; /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #A275EF; /* Colour for streaming status */
  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
}

/* Some purple icons */
svg, .lottieIcon__9d8ab, .lottieIcon_c7076c, .icon__67ab4, .iconContainer__6a580, .link_ddbb36 {
  color: #8e6bb0;
}

svg:hover, .lottieIcon__9d8ab:hover, .lottieIcon_c7076c:hover {
color: #4c3661;
transition: color 0.2s ease;
}

.unread__48cf4 {
  background-color: #8e6bb0;
}
/* Acrylic popups config */
:root{
    --blur-popup: 40px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 40px; /*Popup border radius*/
    --radius-context: 20px; /*Context menu popups radius*/
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}

/* force nitro light theme to always be nitro dark theme (profile colors) */
sync off
element.style {
    --profile-gradient-primary-color: hsla(13, 32.8%, 73.1%, 1);
    --profile-gradient-secondary-color: hsla(50, 77%, 77.8%, 1);
    --profile-gradient-button-color: hsla(13, 20.4%, 36.5%, 1);
    --profile-gradient-overlay-color: hsla(0,0%,100%,0.6);
    --profile-body-background-color: hsla(0,0%,100%,0.45);
    --profile-body-background-hover: hsla(0,0%,0%,0.08);
    --profile-body-divider-color: hsla(13, 20.4%, 36.5%, 0.12);
    --profile-avatar-border-color: hsla(13, 32.1%, 89%, 1);
    --profile-message-input-border-color: hsla(50, 41.6%, 69.8%, 1);
    --profile-note-background-color: hsla(0,0%,100%,0.3);
    --profile-role-pill-background-color: hsla(0,0%,100%,0.5);
    --profile-role-pill-border-color: hsla(228,6.67%,14.71%,0.2);
}

sync on
element.style {
    --profile-gradient-primary-color: hsla(13, 32.8%, 73.1%, 1);
    --profile-gradient-secondary-color: hsla(50, 77%, 77.8%, 1);
    --profile-gradient-button-color: hsla(13, 20.4%, 36.5%, 1);
    --profile-gradient-overlay-color: hsla(0,0%,0%,0.6);
    --profile-body-background-color: hsla(0,0%,0%,0.45);
    --profile-body-background-hover: hsla(0,0%,100%,0.16);
    --profile-body-divider-color: hsla(0, 0%, 100%, 0.24);
    --profile-avatar-border-color: hsla(13, 12.3%, 14.3%, 1);
    --profile-message-input-border-color: hsla(50, 18.2%, 55.9%, 1);
    --profile-note-background-color: hsla(0,0%,0%,0.3);
    --profile-role-pill-background-color: hsla(228,6.67%,14.71%,0.5);
    --profile-role-pill-border-color: hsla(0,0%,100%,0.2);
}

/* custom cursor! */
html {
    cursor: url('https://github.com/y0shy0sh/Cosmic-Lavender/raw/main/cursor.cur'), default;
}


/* discord.com background stuff! :D */
/* background fix (works now!) */
body .wrapper_f5f4c9:hover, #app-mount .wrapper_f5f4c9:hover {
    background: transparent;
    color: #fff;
}
/* discord.com background changes */

/* controls background images*/

/* controls the actual colors besides the bg color (buttons and what not), 1st one is download button second is open from browser 3rd and 4th are login hover */
element.style {
    color: #4f415e;
}
.buttonWhite-1M-wED {
    background-color: #f2f2f2;
    background-color: #cea6ce;
    color: #23272a;
    color: #725b80;
}
.buttonDark-3a8taR {
    background-color: #221029;
    background-color: #47394e;
    color: #fff;
    color: #bfa8e0;
}
.button-white {
    color: #6830a0;
    background-color: #c0a5dd;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
}
.button-white:hover {
    color: #2a242f;
    background-color: #c0a5dd;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

/* controls the IMAGINE A PLACE... text */
.new-h1.font-white {
    color: #c5a6ce;
    margin-bottom: 24px;
    font-family: "Abcgintonord 800",sans-serif;
    font-size: 50px;
    font-weight: 700;
}

/* Custom text colors */
[class*=messageContent] :is(h1, h2, h3) { /* # text */
  color: #9176D0;
}
[class*=messageContent] strong { /*bold text */
    color: #7398E7;
}
[class*=messageContent] em { /*italcs*/
    color: #ff0000;
}
[class*=messageContent] s { /*slash*/
    color: #ffFF00;
}
body .cozy_f5c119 /* terminal box */ 
.messageContent_abea64:not(:empty):not(.repliedTextContent_b12fe1):not(.threadMessageAccessoryContent__42312) code, #app-mount .cozy_f5c119 .messageContent_abea64:not(:empty):not(.repliedTextContent_b12fe1):not(.threadMessageAccessoryContent__42312) code {
    background: rgb(0 0 0);
    border: none;
}
[class*=messageContent] code { /*terminal-words*/
    color: #00ff00;
}
[class*=messageContent] { /* regular text */
    color: #BDF7FF;
}

/* Custom Icon in the discord loader */
.container__827e6 video.ready__61f2f {
    display: none;
}
.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://cdn.discordapp.com/attachments/1124656608941715540/1228158531446771802/planet_00.gif?ex=662b06c3&is=661891c3&hm=20a423b713ecd4f4806bb5d4185bf4e3416399dfbfef30dfd3184ceb9d7a8432&);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 256px;
    height: 256px;
    margin: auto;
    margin-bottom: 8px;
}

/* sticker ontop of some popups */
[id*="popout_"]::after, [class*=menu]::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://cdn.discordapp.com/attachments/1124656608941715540/1228164043043241995/modstamp.png?ex=662b0be6&is=661896e6&hm=e4b3221a4260026a6d33ed5798d7f16a8e2902fab21f26cb0de82cab5e149af2&');
    background-size: cover;
}
/* needs fixing (discord loading screen background) */
.container__827e6 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://cdn.discordapp.com/attachments/1124656608941715540/1228167272288358470/loading_screen.gif?ex=662b0ee7&is=661899e7&hm=1d60aa546f8eabfe2cd94bd789105466c5cba6e3803171d1e24ba5e372fc3b9f&');
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    overflow: hidden;
}

/* Changing the light mode warning shut up on the base SoftX. */
html.theme-light .app_de4237::after {
  content: "Bruh imagine using light mode, turn it off xd \aWhile you're at it go to Accessibility and turn on sync profile themes if you haven't already, it fixes stuff";
  line-height: 1.5;
  white-space: pre-wrap;
  border-top: 1px solid var(--border);
  background: var(--bg-secondary);
  z-index: 1;
  padding: 16px;
  color: #8e6bb0;
}
